<!--The content below is only a placeholder and can be replaced.-->
<div class="App">
  <div class="App-header">
    <h1 class="App-title">{{ title }}</h1>
  </div>

  <app-image-search></app-image-search>
  <app-messages></app-messages>
  <app-pictures></app-pictures>

  <p class="App-intro">
    Please refer<br/>
    <code>
      <a href="https://www.alibabacloud.com/product/imagesearch"
        target="_blank" rel="noopener noreferrer">
        Image Search Document
      </a>
    </code>
    <br/>
    for more details.
  </p>

</div>
