
.App {
  text-align: center;
}

.App-header {
  background-color: #F60;
  opacity: 0.8;
  height: 60px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
