<div id="search-component">

  <img src='{{previewImg}}' alt="" class="previewImgStyle"/>
  <br/>

  <button mat-raised-button style="display: none;">dummy</button>

  <input id="inputfile" hidden="true" #inputfile type="file" accept="image/*"
    (change)="onchange(inputfile.files, cat.value)">
  <label for="inputfile" class="mat-raised-button"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event, cat.value)">
    Choose image
  </label>

  <mat-form-field class="select">
    <mat-select placeholder="Category" #cat name="cat_id"
      (change)="onchange(inputfile.files, cat.value)" [(ngModel)]="catId">
      <mat-option value="">Not Specified</mat-option>
      <mat-option *ngFor="let category of allCategory" [value]="category.id">
        {{category.id}}: {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="note">
    note: demo data is in<br/>
    1: Dress, 3: Bag, 4: Shoes
  </div>

</div>
