<div id="search-component">

  <input #inputfile type="file" (change)="onchange(inputfile.files, cat.value)">

  <span class="select">
    <select #cat name="cat_id" (change)="onchange(inputfile.files, cat.value)"
      [(ngModel)]="catId">
      <option value="">Not Specified</option>
      <option *ngFor="let category of allCategory" [value]="category.id">
        {{category.id}}: {{category.name}}
      </option>
    </select>
  </span>

  <div class="note">
    note: demo data is in<br/>
    1: Dress, 3: Bag, 4: Shoes
  </div>

</div>
